<h2>{{pageTitle}}</h2>

<br/>

<form [formGroup]="form" (ngSubmit)="onSubmit()"> 
    <label>
        Full Name:
        <input type="text" formControlName="fullName">
    </label>
    <label *ngIf="form.get('fullName').errors" class="error-text">
        <i>*Required </i>
    </label>
    <br /><br /> 

    <label>
        UserName:
        <input type="text" formControlName="username">
    </label>
    <label *ngIf="form.get('username').errors && form.get('username').errors.required" class="error-text">
        <i>*Required</i>
    </label>
    <label *ngIf="userNameValidatorErrors" class="error-text">
            <i>*this UserName is not available</i>
    </label>
    <!-- <pre>{{form.get('username').errors | json}}</pre> -->
    <br /><br /> 

    <label>
        Email:
        <input type="text" formControlName="email">
    </label>
    <label *ngIf="form.get('email').errors && form.get('email').errors.email" class="error-text">
        <i>Not a valid email</i>
    </label>
    <br /><br /> 

    <div *ngIf="this.isLogged===false">
        <label>
            Birth Date:
            <input type="text" formControlName="birthDate">
        </label>
        <br /><br />
    </div>

    <label>
        Profile Image:
        <input type="text" formControlName="pathImg">
        <br/><br/>
        <img src={{model.pathImg}} class="imgSize">
    </label>

    <br /><br />

    <label>
        Interests:
    </label>

    <!-- <div *ngFor="let interest of interests; let i=index">
        <form [formGroup]="interestsForm">
            <label class="checkbox-inline">
              <input type="checkbox" name="interest" formControlName="{{ interest }}">
              &nbsp;
              {{ interest }}
            </label>
        </form>
    </div> -->

    <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList formControlName="interests">
              <mat-chip *ngFor="let interest of interests" 
                        [selectable]="selectable"
                        [removable]="removable" 
                        (removed)="remove(interest)">
                {{tag}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="New tag..."
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
    </mat-form-field>
    

    <br/><br/>

    <!-- <button (click)="saveChanges()">Save</button> -->
    <!-- <a [routerLink]="['/posts/list']"> -->
        <button type="submit" [disabled]="!form.valid">Save</button>
    <!-- </a> -->
    
    <!--<pre>{{ interestsForm.value | json }}</pre>-->
    <!--<pre>{{ form.value | json }}</pre>-->

</form>
