<h2>{{pageTitle}}</h2>

<br/>

<form [formGroup]="form"> 
    <label>
        Full Name:
        <input type="text" formControlName="fullName">
    </label>
    <label *ngIf="form.get('fullName').errors" class="error-text">
        <i>*Required </i>
    </label>
    <br /><br /> 

    <label>
        UserName:
        <input type="text" formControlName="username">
    </label>
    <label *ngIf="form.get('username').errors" class="error-text">
        <i>*Required</i>
    </label>
    <br /><br /> 

    <label>
        Email:
        <input type="text" formControlName="email">
    </label>
    <label *ngIf="form.get('email').errors && form.get('email').errors.email" class="error-text">
        <i>Not a valid email</i>
    </label>
    <br /><br /> 

   <div *ngIf="this.isLogged===false">
        <label>
            Birth Date:
            <input type="text" formControlName="birthDate">
        </label>
        <br /><br />
   </div>


    <label>
        Profile Image:
        <input type="text" formControlName="pathImg">
        <br/><br/>
        <img src={{model.pathImg}} class="imgSize">
    </label>

    <br /><br /> 

    <label>
        Interests:
    </label>
    <!-- <input type="text" formControlName="interests"> -->
              
        <!-- <label formArrayName="interests" *ngFor="let interest of form.controls.interests.controls">
                <input type="checkbox" [formControlName]="interest">
                {{interests[interest]}}
        </label> -->

    <!-- <div *ngFor="let interest of interests; let i=index">
        <input type="checkbox"[formControlName]="interest">  {{model.interest[i]}}
    </div>   -->

    <!-- <div *ngFor="let interest of interests; let i = index">
        <div formArrayName="interests">
            <div [formGroupName]="i">
                <input type="checkbox">interest
            </div>
        </div>
    </div> -->

    <div *ngFor="let interest of interests; let i = index">
        <label>{{model.interests[i].controls}}</label>
    </div>

</form>
