<div class="col">
  <div class="card">
    <div class="card-header text-center">
      <em>{{ post.title }}</em>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Post Information</h5>
      <p class="card-text">Author: {{ post.author }}</p>
      <p class="card-text">Date: {{ post.date | date }}</p>
      <p class="card-text">Tags:
        <select>
          <option *ngFor="let eachVal of post['tags']">{{ eachVal }}</option>
        </select>
      </p>
      <p class="card-text">Visits: {{ post.numVisits }}</p>
    </div>
    <div class="card-footer">
      <div class="text-center">
        <p class="card-text">Post Rating: {{ post.rating }}</p>

        <button type="button" class="btn btn-primary">
          Edit Post
        </button>
        &nbsp;
        &nbsp;
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postModalLong">
          View complete post
        </button>

        <!-- Modal -->
        <div class="modal fade" id="postModalLong" tabindex="-1" role="dialog"
          aria-labelledby="postModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="postModalLongTitle">Post Body</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ post.body }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<br />