<ul class="nav">

  <div class="nav-item my-flex grow">
    <li>
      <a class="nav-link active" (click)="emitPostsClick()">Posts</a>
    </li>
    <li>
      <a class="nav-link active" [routerLink]="['/posts/list']">Listado de Posts</a>
    </li>
    <li>
      <a class="nav-link active" [routerLink]="['/posts/create']">Crear Post</a>
    </li>
  </div>

  <div class="nav-item my-flex">
    <li *ngIf="userIsLogged">
      <a class="nav-link" (click)="emitProfileClick()">Welcome {{loggedUserName}}</a>
    </li>

    <li *ngIf="!userIsLogged">
      <a class="nav-link" [routerLink]="['/login']">Log In</a>
    </li>

    <li *ngIf="userIsLogged">
      <a class="nav-link active" [routerLink]="['/posts/list']" (click)="emitLogOutClick()">Log Out</a>
    </li>

    <li *ngIf="!userIsLogged">
      <a class="nav-link" [routerLink]="['/users/create']">Regístrese</a>
    </li>
  </div>

</ul>