.error-text {
    color: red;
    font-size: 12px;
}

.quillEdit {
    margin-left: 25px;
    margin-right: 25px;
}

.doneButton {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
}