
<h4> {{ pageTitle }} </h4>

<div class="container">

<form [formGroup]="postForm">

  <div class="container">
    <div class="row">
      <div class="col-sm-9">

        <mat-form-field>
          <input matInput formControlName="title" placeholder="New Title"
            [ngClass]="{'is-invalid': (postForm.get('title').touched || postForm.get('title').dirty) && !postForm.get('title').valid }" />
        </mat-form-field>
        <label *ngIf="postForm.get('title').errors" class="error-text">
          <i>*Required (must be longer than 3 characters) </i>
        </label>

      </div>
      <div class="col-sm-3">

        <mat-form-field>
          <input matInput formControlName="date">
        </mat-form-field>

      </div>
    </div>
  </div>

  
  
<br/>  
<br/>  

<h6> Related Tags: </h6>
<br/>  
 
<div class="row">

    <div *ngFor="let tag of tags; let i=index" class="col-4">

        <form [formGroup]="tagsForm">
  
            <label>
              <mat-checkbox color="primary" formControlName="{{ tag }}"> <span>{{ tag }}</span> </mat-checkbox> 
            </label>
  
        </form>
      
  </div>

</div>

<br/>


<h6> Post: </h6>

    <button mat-button (click)="setPreview()">Preview</button>
    <br><br>


        <div class="quillEdit" *ngIf='!preview'>
      
            <div>
              <quill-editor [formControl]="postForm.controls['body']"></quill-editor>
            </div>
      
        </div>
      
        <div class="quillEdit" *ngIf='preview'>
      
          <div *ngIf="postForm" [innerHTML]="postForm.value.body"></div>
      
        </div>


        <button mat-flat-button color="primary" class="doneButton" (click)="buttonAction()" [disabled]='postForm.invalid || !postForm.touched'>Done...</button> 

    <pre>{{postForm.value | json}}</pre>
    <pre>{{tagsForm.value | json}}</pre>
        <pre> {{postForm.touched | json}} </pre>
  </form>

</div>

