
<h1>Post</h1>

<button (click)="setState('edit')">Edit</button>
<button (click)="setState('view')">View</button>
<br><br>

<div [ngSwitch]="state">

  <div *ngSwitchCase="'edit'">

    <form [formGroup]="form">

      <div>
        <quill-editor [formControl]="form.controls['body']"></quill-editor>
      </div>

      <button type="submit">Save</button>

    </form>

  </div>

  <div *ngSwitchCase="'view'">

    <div *ngIf="form" [innerHTML]="form.value.body | escapeHtml"></div>

  </div>

</div>

<!--<h3>Model</h3>-->
<!--<pre>-->
  <!--{{ model | json }}-->
<!--</pre>-->

<h3>Form</h3>
<pre *ngIf="form">
  {{ form.value | json }}
</pre>
