<div class="row">

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        header
      </div>
      <div class="card-body">
        body
      </div>
      <div class="card-footer">
        footer
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        header
      </div>
      <div class="card-body">
        body
      </div>
      <div class="card-footer">
        footer
      </div>
    </div>
  </div>

</div>









<!-- <div>
  <div [routerLink]="['/events', event.id]" class="well hoverwell thumbnail">
    <h2>{{ event?.name | uppercase}}</h2>
    <div>Date: {{ event?.date | date:'shortDate' }}</div>
    <div
      [ngClass]="getStartTimeClass()"
      [ngSwitch]="event?.time"
    >
      Time: {{ event?.time }}
      <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
      <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
      <span *ngSwitchDefault>(Normal Start)</span>
    </div>
    <div>Price: {{ event?.price | currency:'USD'}}</div>
    <div *ngIf="event?.location">
      <span>Location: {{ event?.location?.address }}</span>
      <span class="pad-left"
        >{{ event?.location?.city }} {{ event?.location?.country }}</span
      >
    </div>
    <div *ngIf="event?.onlineUrl">OnlineUrl: {{ event?.onlineUrl }}</div>
  </div>
  <button class="btn btn-primary" (click)="handleClickMe()">Click Me!</button>
</div> -->
